
#root{
	/*height: 63rem !important;*/
	height: 100%;
	position: absolute;
    padding-left: 0px;
    padding-right: 0px;
}

.app{
    min-height: 100vh;
}

/*-------------------------------------------------------------------------------------------------------*/

.navbar-home{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px #c3c3c3 !important;
    background-color: #ffffff;
}

.navbar-nav{
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar-brand{
    color: #2F3145;
}

.navbar-toggler{
    padding: 5px !important;
}

.item-toggler{
    background: #2F3145;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.nav-link{
    color: grey !important;
}

.nav-link:hover{
    -webkit-text-stroke: 1px #2F3145;
    color: #2F3145;
}

.col-info{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.row{
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
}

.btn{
    border-radius: 0px !important;
}

.table-head{
    background-color: #2F3145;
    color: white;
}

.btn-created{
    background-color: #0060FF !important;
    border: 1px solid #0060FF !important;
}

.btn-back-container{
    display: flex;
    justify-content: flex-end;
}

.btn-back{
    background-color: transparent !important;
    border-color: red !important;
    color: red !important;
}

.btn-success-container{
    display: flex;
    justify-content: center;
}

.btn-save{
    width: 150px;
}

.footer{
    padding: 30px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #2F3145;

}

.card-body{
    display: flex;
    flex-direction: column;
}

.btn-login{
    background: red !important;
    border: 1px solid red !important;
}

.btn-loading{
    display: flex;
    justify-content: space-between;
}

.btn-view{
    background: #0060FF;
}

.btn-edit{
    background: forestgreen;
}

.btn-delete{
    background: red;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .row{
        padding-right: 0px;
        padding-left: 0px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}